# Examen de Pr谩cticas Teor铆a de la Informaci贸n

## Dependendicas

Para ejecutar este notebook es necesario tener instaladoS los paquetes `requests`, `unidecode`, `numpy` y `pandas`. Si no los tienes instalados, puedes hacerlo ejecutando el siguiente comando en alguna celda:

```bash
!pip install requests unidecode numpy pandas
```

In [1]:
import requests
from unidecode import unidecode
import pandas as pd
import numpy as np

In [2]:
# Obtenemos un texto de la p谩gina de Proyecto Gutenberg
texto = "".join(
    char for char
    in unidecode(requests.get("https://www.gutenberg.org/cache/epub/53552/pg53552.txt").text).upper()
    if char.isalpha()
)

#### Ejercicio 1 _(1 p)_: Obt茅n un diccionario con las frecuencias de los caracteres del texto

In [3]:
# Tu respuesta debe de ser un diccionario llamado `frecuencias` con las frecuencias de cada letra
frecuencias = {char: texto.count(char)/len(texto) for char in set(texto)}

#### Ejercicio 2 _(1.5 p)_: Crea un `DataFrame` cuyos 铆ndices sean los caracteres y las columnas sean las frecuencias de los caracteres

In [4]:
# Tu respuesta debe de ser un DataFrame llamado `df`
df = pd.DataFrame(
    frecuencias.values(),
    index=frecuencias.keys(),
    columns=["p"]
).sort_index()
df

          p
A  0.126032
B  0.015521
C  0.038002
D  0.049692
E  0.128991
F  0.006715
G  0.011484
H  0.010453
I  0.056698
J  0.005462
K  0.000320
L  0.059085
M  0.028431
N  0.069064
O  0.094405
P  0.023089
Q  0.011061
R  0.066127
S  0.081621
T  0.040599
U  0.047019
V  0.010768
W  0.000673
X  0.001715
Y  0.012249
Z  0.004728

#### Ejercicio 3 _(2 p)_: Considerando que el alfabeto c贸digo que queremos usar es `{, , , , }`, prop贸n un c贸digo para cada letra empleando el m茅todo de Shannon.

In [5]:
B = ["", "", "", "", ""] # Alfabeto c贸digo
# Tu respuesta debe de ser el DataFrame df que contenga la columnas "-log_n(p)", "l" y "codigo". Emplea una base `n` adecuada

df["-log_n(p)"] = -(np.log(df["p"])/np.log(len(B)))
df["l"] = np.ceil(df["-log_n(p)"])
df
df["codigo"] = [
    "",
    "金火",
    "金火",
    "",
    "",
    "金",
    "金火",
    "金火",
    "",
    "金",
    "",
    "",
    "金火",
    "火",
    "火",
    "金金",
    "金金",
    "火",
    "火",
    "火",
    "金",
    "金金",
    "",
    "金",
    "金金",
    "金"
]

#### Ejercicio 4 _(1 p)_: Calcula el rendimiento $(\eta)$ del c贸digo

In [6]:
# Tu respuesta debe de estar guardada en la variable `eta`
eta = (df["p"]*df["-log_n(p)"]).sum()/(df["p"]*df["l"]).sum()
eta

0.7913570912652299

#### Ejercicio 5 _(0.5 p)_: Codifica el texto usando el c贸digo propuesto y calcula el ratio entre la longitud del texto original y el texto codificado

In [7]:
# Para que esta funci贸n corra correctamente debes de tener definida la variable `df` y la columna `codigo`. Guarda tu respuesta en una variable llamada `ratio`
def codifica(texto):
    return "".join(df.loc[char, "codigo"] for char in texto)

texto_codificado = codifica(texto)
ratio = len(texto)/len(texto_codificado)
ratio

0.4542167861903165